
body {
    background-color: deepskyblue;
}
#thirdDiv{
    width:500px;
    height:600px;
    background-color: deeppink;
    padding: 50px;
    border: 2px solid black;
    text-align: center;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    text-align: center;
}
#container{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;

}
#Informacion{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px;
    align-items: center;
}
#Experencia{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px;
    align-items: center;
}
#Habilidades{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 300px;
    align-items: center;
}